@use "../../../scss/abstracts" as *;

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: rem(8px);
    overflow: hidden;
    font-size: rem(14px);
    text-align: left;

    th,
    td {
        padding: rem(12px) rem(16px);
        border-bottom: 1px solid $color-gray;
    }
}

.football {
    background-color: $color-white;
    font-weight: 600;

    thead {
        background-color: $color-gray;
        color: $color-black;
    }
}

.basketball {
    background-color: $color-orange;

    thead {
        background-color: $color-dark-orange;
        color: $color-white;
    }
}

.tennis {
    background-color: $color-light-gray;

    thead {
        background-color: $color-dark-gray;
        color: $color-white;
    }
}

.cellWithIcon {
    display: inline-flex;
    align-items: center;
    gap: rem(10px);
}
