@use "../../scss/abstracts/" as *;

.header {
    display: flex;
    align-items: center;
    padding: rem(16px);
    border-top-right-radius: rem(8px);
    border-top-left-radius: rem(8px);
    color: $color-white;
}

.football {
    background-color: $color-purple;
    font-family: $font-modern-san-serif;
}

.basketball {
    background-color: $color-dark-green;
    font-family: $font-athletic-style;
    gap: rem(18px);

    h2 {
        font-weight: 100;
    }
}

.tennis {
    background-color: $color-green;
    font-family: $font-monospace;
    gap: rem(30px);
    font-size: 24px;
}
