$color-purple: #3d0142;
$color-dark-purple: #6b21a8;
$color-green: #056c3b;
$color-dark-green: #002f26;
$color-blue: #3162f5;
$color-dark-blue: #1d4ed8;
$color-white: #ffffff;
$color-black: #000000;
$color-light-gray: #f5f5f5;
$color-gray: #ececec;
$color-dark-gray: #999;
$color-orange: #ff7900;
$color-dark-orange: #ea580c;
$color-red: #ff0000;
